.second-page-js {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 93%;
    height: 50%;
    display: none;
}
.watchExample {
    width: 100%;
    height: 100%;
    float: left;
}
strong {
    color: white;
}
.value {
    border: white 1px solid;
}
.settings {
    width: 38%;
    height: 100%;
    float: left;
    margin-bottom: 5px;
}
.game-btn {
    magrin-top: 3px;
}

.watchExample {
    width: 50%;
    float: right;
}